

.pagecontainer{	
	display: flex;
	min-height: 100vh;
	flex-direction:row;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: #334062;

}

.leftcolumn{
	flex-direction:column;
	justify-content: space-around;
	flex-flow: row wrap;
	align-items: stretch;
	display:flex;
	flex-flow:column;
	min-height: 100vh:;
	padding: 10px;

}
.lefttop{
	background-color: #3b4b6f;
	justify-content: flex-start;
	padding: 10px;

}

.leftbottom{
	background-color: #6c7184;
	justify-content: flex-start;
	padding: 10px;
	min-height: 100vh;

}

.rightcolumn{
	width: 80%;
	display: flex;
	flex-flow: row;
	background-color: #ced9ed;
	margin-top: 10px;

}
.rightText{
	padding:20px;
}


