

.pagecontainer{	
	display: flex;
	min-height: 100vh;
	flex-direction:row;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: #291212;

}

.leftcolumn{
	flex-direction:column;
	justify-content: space-around;
	flex-flow: row wrap;
	align-items: stretch;
	display:flex;
	flex-flow:column;
	min-height: 100vh:;
	padding: 10px;

}
.lefttop{
	background-color: #3d2c35;
	justify-content: flex-start;
	padding: 10px;

}

.leftbottom{
	background-color: #485353;
	justify-content: flex-start;
	padding: 10px;
	min-height: 100vh;

}

.rightcolumn{
	width: 80%;
	display: flex;
	flex-flow: row;
	background-color: #9aa3a9;
	margin-top: 10px;

}
.rightText{
	padding:20px;
}

a:link{
	color: black;
	text-decoration: none;

}

a:visited{
	color: black;
	text-decoration: none;

}

a:hover{
	color: black;
	font-style: bold;
	text-decoration: none;
}

a:active{
	color: grey;
	text-decoration: none;


}